<link href="//cdn.shopify.com/s/files/1/0079/1874/7711/t/10/assets/font-awesome.min.css?v=2186963269736709578" rel="stylesheet" type="text/css" media="all">
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css" integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
<section class="frequently_section">
  <div class="container page-width">
    <div class="heading">{% if section.settings.title != blank %}
      <h1>{{ section.settings.title | escape }}</h1>{% endif %}{% if section.settings.sub_title != blank %}
      <p class="title">{{ section.settings.sub_title | escape }}</p>{% endif %}
    </div>
    <div class="accordion_section">
      <ul id="accord1" class="accordian">
        {% for block in section.blocks %}{% if block.settings.question != blank %}
        <li>
          <header class="ac_header">
            <div class="h_l_c">
              <i class="fas fa-info-circle"></i>
              <h5>{{ block.settings.question }}</h5>
            </div>
            <span class="fas fa-plus-circle"></span>
          </header>
          <section style="display: none;">
            {{ block.settings.answer }}
          </section>
        </li>{% endif %}
        {% endfor %}
      </ul>
    </div>
  </div>
</section>

{% schema %}
  {
    "name": "Section Home Faq",
    "class": "index-section",
    "max_blocks": 10,
    "settings": [
      {
        "type": "text",
        "id": "title",
        "label": "Heading",
        "default": "Frequently Asked Questions"
      },
      {
        "type": "textarea",
        "id": "sub_title",
        "label": "Sub Heading",
        "default": "Questions You Might Be Wondering About.."
      }
    ],
    "blocks": [
      {
        "type": "faqs",
        "name": "Faqs",
        "settings": [
          {
            "type": "text",
            "id": "question",
            "label": "Question"
          },
          {
            "type": "richtext",
            "id": "answer",
            "label": "Answer",
            "info": "Hidden text"
          }
        ]
      }
    ],
    "presets": [{
      "name": "Section Home Faq",
      "category": "Homepage",
      "blocks": [
        { "type": "faqs" },
        { "type": "faqs" },
        { "type": "faqs" }
      ]
    }]
  }
{% endschema %}

<style>
.frequently_section {
  padding: 60px 0;
  background-color: #0d00ff;/*#36b4ce;*/
  background-repeat: no-repeat;
  background-position: center;
}

.frequently_section .heading h1, .frequently_section .heading .title {
  color: #fff;
  margin-bottom: 20px;
  text-align: center;
}

/** ACCORDIAN **/
.accordian {
  list-style:none;
  margin:0 0px;
  padding:0;
  border-top:0;
}

.ac_header {
  display:flex;
  align-items: center;
  justify-content: space-between;
  margin:0;
  padding:1em 20px;
  background:#fff;
  border-bottom: 1px solid #e9e9e9;
  cursor:pointer;
}
.accordian section {
  display:none;
  padding:1.5em;
  font-size: 16px;
  background:#fff;
  border-bottom: 3px solid #69c156;
  box-shadow: 0px 0px 10px 0px rgba(255, 255, 255, 0.09);
}
.accordian section.active {
  display:block;
}

.ac_header i {
  padding-right: 10px;
  display: inline-block;
  font-size: 20px;
  color: #747474;
}

.ac_header span {
  font-size: 20px;
  color: #525252;
}

.ac_header height: 5px; {
  margin-bottom: 0;
  display: inline-block;
  color: #525252;
}

.h_l_c {
  display: flex;
  align-items: center;
}

.accordian li+li {
  margin-top: 20px;
}

.m_blog_link {
  display: none;
}

.ac_header h5 {
  margin-bottom: 0;
}

</style>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
<script>
$.fn.ashCordian = function() {

  var container = $(this);

  container.find('header').click(function() {
    if($(this).siblings('section').css('display') == 'block'){
       container.find('section').slideUp(150);
    } else {
      container.find('section').slideUp(150);
       $(this).siblings('section').slideDown(150);
    }
  });
};

$('#accord1').ashCordian();

$('#accord2').ashCordian();

    var navActive = 'nav_expanded',
        $pageBody = $("body"),
        pageOverlay = $(".page_overlay");

$(".nav_action").click(function(){
      
        if($pageBody.hasClass(navActive)){
            $pageBody.removeClass(navActive);
          	$("#PageContainer").removeAttr("style");
        } else {
            $pageBody.addClass(navActive);
          var get_navbar_height = $(".nabvar").height();
          $("#PageContainer").css("transform","translate3d(0px, 450px, 0px)");
        }
        if($pageBody.hasClass("newa_expanded")){
            $(".newarrival_view").fadeOut(100);
        }
});
</script>
